name: Check Solutions

on:
  push:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Check Solutions
        run: ${{ github.workspace }}/.github/scripts/check-solutions.sh
        shell: bash
        working-directory: ${{ github.workspace }}
